// Menu
.menu {
  // Navigation bar starts from the right border of the logo
  position: fixed;
  top: 0;
  left: $logo-width;
  width: calc(100% - #{$logo-width});
  height: 56px;
  background: rgba(#fff, 0.8);

  &-nav {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav-item {
    text-align: center;
    flex: 1;

    &.current > a {
      color: lighten($text-color, 20);
    }
  }

  .nav-link {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: lighten($text-color, 20);
    }
  }

  .lang-links {
    flex: 0.5;
    text-align: right;
    margin-right: 1rem;
  }
}
