// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 1001px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

// Widescreens
@include mediaXL {
  @import "menu";
  .nav-link {
    font-size: 30px;
  }
}

// Desktops & Laptops
@include mediaLg {
  @import "menu";
}

// Tablets
@include mediaMd {
  #logo {
    width: 220px;
    height: 138px;
    background: url(../img/kutes_logo_tiny.png);
    background-repeat: no-repeat;
    border-bottom-right-radius: 70%;
  }
  @import "menu_mobile";

  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}

// Phones
@include mediaSm {
  main#home h1 {
    margin-top: 5vh;
  }

  .form-style-2 input.input-field,
  .form-style-2 .textarea-field,
  .form-style-2 .select-field {
    display: block;
  }

  .form-style-2 label {
    text-align: left;
  }

  .form-style-2 label > span {
    float: none;
  }
}
