@import "config";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $background-color;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    //color: $text-color;
    font-size: 3rem;
  }
}

main {
  padding: 4rem;
  //min-height: calc(100vh - 60px);
  overflow: hidden;
  &#home {
    h1 {
      margin-top: 10vh;
    }
  }
}

.text-box {
  background: rgba(#eee, 0.8);
  max-width: 960px;
  padding: 5px 10px 5px 20px;
}

#logo {
  width: $logo-width;
  height: $logo-height;
  background: url(../img/kutes_logo_small.png);
  border-bottom-right-radius: 70%;
}

@import "mobile";
