@import "config";
@import "form";

* {
  box-sizing: border-box;
}

body {
  // background image and overlay
  @include background;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 3rem;
  }
}

// Settings for the general layout of the three pages
main {
  padding: 4rem;
  overflow: hidden;
  &#home {
    h1 {
      margin-top: 10vh;
    }
  }

  &#contact {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  &#join {
    padding-top: 1rem;
  }
}

.text-box {
  background: rgba(#eee, 0.7);
  max-width: 960px;
  padding: 5px 10px 5px 20px;
  border: 2px solid #777;
  margin-bottom: 2rem;
}

.logo {
  width: $logo-width;
  height: $logo-height;
  background: url(../img/kutes_logo_small.png);
  border-bottom-right-radius: 70%;
}

.centered {
  margin: auto;
}

// Grid layout for contact information
// Outer gird giving layout for the description box and contact boxes
.outer-grid {
  display: grid;
  grid-template-columns: 1fr;

  .text-box:first-child {
    justify-self: center;
  }
}
// Subgrid for contact information boxes
.contact-container {
  display: grid;
  // Responsive grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // Set grid properties
  grid-template-rows: minmax(100px, auto);
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 2rem;
  justify-items: center;

  .contact-img {
    width: 200px;
    height: 200px;
    margin: 1rem;
  }

  .contact-person {
    text-align: center;

    h4 {
      margin-bottom: 0.5rem;
    }

    h5 {
      margin: 0;
    }
  }
}

// Settings for responsiveness, choosing the type of menu happens here
@import "mobile";
